* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    width: 100%;
    height: 110px;
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px 0 5px 50px;
}