/* Float */
/* section {
    border: 10px solid rgb(150, 149, 149);
    width: 70%;
    margin: 20px 5px;
}

img {
    width: 45%;
    margin: 20px 10px 0 10px;
}

div {
    float: right;
    width: 50%;
} */

/* transition */

/* div {
    margin: auto;
    height: 100px;
    width: 100px;
    background-color: green;
    transition-duration: 2s;
    transition-delay: 1s;
}

div:hover {
    border-radius: 50%;
    background-color: aquamarine;
} */

section {
    width: 80%;
    border: 2px solid black;
    transition-duration: 2s;
    /* transition-timing-function: ease-in;
    transition-timing-function: ease-out; */
    transition-timing-function: cubic-bezier(0.57, 0.21, 0.46, 0.92);
}

section>div {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: blueviolet;
}

section:hover {
    padding-left: 700px;

}

/* Transition */
h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 48px;
    transition-duration: 2s;
}

h1:hover {
    /* transform: translateX(-200px); */
    /* transform: translateY(-200px); */
    /* transform: translate(200px, 100px); */

    /* transform: rotateX(180deg); */
    /* transform: rotateX(2turn); */
    /* transform: rotateY(180deg); */
    /* transform: rotateY(1turn); */
    /* transform: rotateZ(5turn); */

    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    transform: scale(2);
}

/* Text shadow */

h2 {
    text-align: center;
    font-size: 48px;
    text-shadow: 2px 3px 5px gray;
}