#container {
    background-color: brown;
    height: 100px;
    width: 200px;
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    border-radius: 50%;
}

button {
    /* height: 50px;
    width: 200px; */
    font-size: 36px;
    border-width: 1px;
    border-radius: 15%;
    border-bottom: 5px solid rgb(94, 8, 8);
    border-top: 5px solid rgb(94, 8, 8);
    /* margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px; */
    /* margin: 50px; */
    /* margin: 100px 0 50px 20px; */
    margin: 20px 50px;
    padding: 50px 20px 50px 20px;
    /* padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px; */
}