#static>div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#static>div:nth-of-type(1) {
    background-color: red;
}

#static>div:nth-of-type(2) {
    background-color: blue;
    /* position: static; */
    top: 100px;
}

#static>div:nth-of-type(3) {
    background-color: green;
}

/* relative */
#relative>div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#relative>div:nth-of-type(1) {
    background-color: rgb(0, 255, 234);
}

#relative>div:nth-of-type(2) {
    background-color: rgb(255, 0, 132);
    position: relative;
    top: 20px;
    right: 100px;
    left: 50px;
}

#relative>div:nth-of-type(3) {
    background-color: rgb(128, 124, 0);
}